@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wendy+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    @apply w-full h-auto sticky top-0 left-0 bg-[#0c2141] flex items-center py-3 px-4 justify-between;
    background-image: url("./assets/whalebg.png");
    background-repeat: no-repeat;
    background-position: right center;
}
.img-login{
    @apply bg-primary relative w-[55%];
    background-image: url("./assets/loginWhale.svg");
    background-size: 64%;
    background-repeat: no-repeat;
    background-position: top center;
}
.card-channel{
    @apply flex gap-4 mt-4 pb-2 overflow-x-scroll relative;
}
.card-channel::-webkit-scrollbar {
    height: 8px;
  }
  
  /* Track */
  .card-channel::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .card-channel::-webkit-scrollbar-thumb {
    background: #999; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .card-channel::-webkit-scrollbar-thumb:hover {
    background: #878787; 
  }